amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
brotli==1.2.0
celery==5.6.3
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cryptography==46.0.5
cssbeautifier==1.15.4
cssselect2==0.8.0
dj-database-url==3.1.2
django==5.0.14
django-allauth==65.15.0
django-celery-results==2.6.0
django-ckeditor-5==0.2.20
django-widget-tweaks==1.5.1
djlint==1.36.4
editorconfig==0.17.1
flower==2.0.1
fonttools==4.61.1
git-filter-repo==2.47.0
gunicorn==23.0.0
humanize==4.15.0
idna==3.11
jsbeautifier==1.15.4
json5==0.13.0
kombu==5.6.2
oauthlib==3.3.1
packaging==26.0
pathspec==1.0.4
pillow==12.1.1
prometheus-client==0.24.1
prompt-toolkit==3.0.52
psycopg2-binary==2.9.10
pycparser==3.0
pydyf==0.12.1
pyjwt==2.11.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.2
pytz==2025.2
pyyaml==6.0.3
redis==7.1.0
regex==2026.2.28
requests==2.32.5
requests-oauthlib==2.0.0
sentry-sdk==2.19.2
six==1.17.0
sqlparse==0.5.5
stripe==14.2.0
tinycss2==1.5.1
tinyhtml5==2.0.0
tornado==6.5.4
tqdm==4.67.3
typing-extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
weasyprint==68.0
webencodings==0.5.1
whitenoise==6.8.2
zopfli==0.4.0
