{% load static %}

<footer class="sf-footer">
  <div class="sf-footer__inner">
    <div class="sf-footer__col sf-footer__col--brand">
      <a href="{% url 'shop:home' %}" class="sf-footer__logo">
        <img src="{% static 'img/onesynk/logo-sinfood.svg' %}" alt="Synk Food" class="sf-footer__synkfood-logo" />
      </a>
      <div class="sf-footer__contact">
        <p class="sf-footer__contact-title">CONTACTO</p>
        <p><span class="sf-footer__contact-label">MARCA</span> 000 234 4567</p>
        <p><span class="sf-footer__contact-label">WHATSAPP</span> 000 234 4567</p>
      </div>
      <div class="sf-footer__social">
        <p class="sf-footer__social-label">SÍGUENOS EN REDES:</p>
        <img src="{% static 'img/onesynk/11.png' %}" alt="Redes" class="sf-footer__social-img" />
      </div>
    </div>

    <div class="sf-footer__col">
      <h4>CATEGORÍAS</h4>
      <ul>
        <li>FALCON PROTEIN</li>
        <li>FALCON PERFORMANCE</li>
        <li>FITMINGO</li>
        <li>CREATINA</li>
        <li>SUPLEMENTOS WELLNESS</li>
      </ul>
    </div>

    <div class="sf-footer__col">
      <h4>CENTRO DE AYUDA</h4>
      <ul>
        <li>FALCON PROTEIN</li>
        <li>FALCON PERFORMANCE</li>
        <li>FITMINGO</li>
        <li>CREATINA</li>
        <li>SUPLEMENTOS WELLNESS</li>
      </ul>
    </div>

    <div class="sf-footer__col">
      <h4>NEWSLETTER</h4>
      <ul>
        <li>FALCON PROTEIN</li>
        <li>FALCON PERFORMANCE</li>
        <li>FITMINGO</li>
        <li>CREATINA</li>
        <li>SUPLEMENTOS WELLNESS</li>
      </ul>
    </div>
  </div>

  <div class="sf-footer__bottom">
    <span>© SYNK FOOD, 2026</span>
    <span>AVISO DE PRIVACIDAD</span>
    <span>TÉRMINOS Y CONDICIONES</span>
  </div>
</footer>
